$footer-height: 194px;

.g-central-block {
  max-width: $site-width;
  margin: 0 auto;
  padding: 0 12px;
  @include clearfix;

}
.g-page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;


  &:after {
    content: '';
    display: block;
    min-height: $footer-height;
  }
}