$popupHeight: 72%;

.popup {
  position: fixed;
  display: none;
  opacity: 0;
  background: #fff;
  width: 567px;
  max-height: $popupHeight;
  top: 61px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: z('base') + 3;
  font-size: 16px;
  color: $grey-text;
  text-align: left;
  overflow: scroll;


  &-overlay {
    display: none;
    position: fixed;
    z-index: z('base') + 2;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width:100%;
    height:100%;
    top:0;
    left:0;
    overflow: hidden;
    background: #4198d2;
  }
  &__head {
    background-color: $blue_dark;
    text-align: right;
    padding: 20px;
    position: fixed;
    width: inherit;
  }
  &__wrap {
    padding: 75px 20px 60px 20px;
  }

  &__close {
    @include after;
    @include sprite;
    @extend .sprite-close;
    cursor: pointer;
  }
  &__img {
    float: left;
    margin: 0 20px 20px 0;
    height: 282px;
    width: 281px;
  }
  &__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__text {
    color: $grey-text;
    line-height: 1.34;

  }
}

@include media-breakpoint(phone) {
  .popup {
    width: 100%;
    min-height: 100%;
    top: 0;
    &-overlay {
      top: 0;
    }
    &__img {
      width: 100%;
    }
  }
}

@include retina-displays{
  .popup {
    &__close {
      @include sprite__2x;
    }
  }
}