.footer {
  background-color: $grey_dark;
  font-size: 0;
  padding: 35px 0;
  min-height: 194px;

  &__title {
    text-transform: uppercase;
    color: $grey_regular;
    margin-bottom: 15px;
    line-height: 1;
  }

  &__col {
    width: 27%;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;

    &:last-child {
      width: 19%;
    }
  }
  &__link,
  &__text {
    font-size: 11px;
    line-height: 1.8;
  }
  &__text {
    display: block;
    color: $grey_light;

    &--icon {
      &:before {
        @include after;
        @include sprite;
        @extend .sprite-location_contacts;
        margin-right: 5px;
      }
    }
  }
  &__list {
    list-style-position: inside;
    .footer__text {
      display: list-item;
    }
  }
}

@include media-breakpoint(phone) {
  .footer {
    &__col {
      width: 100%;
      margin-bottom: 20px;

      &:last-child {
        width: 100%;
      }
    }
    &__link,
    &__text {
      font-size: 18px;
    }
  }
}

@include retina-displays{
  .footer__text--icon {
    &:before {
      @include sprite__2x;
    }
  }
}