.header {

  width: 100%;
  padding: 15px 0;

  background-color: $blue_regular;
  color: $white_regular;
  margin-bottom: 40px;

  &__wrap {
    text-align: right;
  }

  &__logo {
    position: relative;
    float: left;
    font-size: 23px;
    color: inherit;
    text-decoration: none;
    margin-right: 15px;
    &:before {
      content: '';
      @include after;

      @include sprite;
      @extend .sprite-logo;

      margin-right: 15px;
    }
  }

}
@include media-breakpoint(phone) {
  .header__logo {
    font-size: 17px;
    @extend %transition;
  }
}

@include retina-displays{

  .header__logo {
    &:before {
      @include sprite__2x;
    }
  }
}
