.main-menu {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;

  &__href {
    text-decoration: none;
    color: $white_regular;
    padding-right: 10px;
    vertical-align: sub;

    &:last-child {
      padding-right: 0;
    }

    &:hover {
      @extend %transition;
      opacity: 0.8;

    }
  }
  &-trigger {
    display: none;
    @include sprite;
    @extend .sprite-burger_menu;
    margin-top: 5px;

    cursor: pointer;

  }
}

@include media-breakpoint(phone) {
  .main-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 61px;
    height: calc(100% - 61px);
    width: 50%;
    background-color: $blue_dark;
    text-align: right;
    padding: 20px;

    &__href {
      display: block;
      padding: 10px 0;

    }

    &:after {
      content: '';
      min-width: 100%;
      min-height: 100%;
      background: rgba(65, 152, 210, 0.5);
      display: block;
      position: absolute;
      top: 0;
      right: 100%;

    }
    &-trigger {
      @include after;
    }
  }
}

@include retina-displays{
  .main-menu {
    &-trigger {
      @include sprite__2x;
    }
  }
}