.news {
  width: 100%;
  font-size: 0.1px;
  text-align: justify;
  margin-bottom: 10px;

  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  &__item {
    width: 225px;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;

  }
  &__title {
    color: $blue_light;
    line-height: 1.2;
  }
  &__img {
    width: 100%;
    height: 100%;

    margin-bottom: 15px;
  }
}

@include media-breakpoint(tablet) {

  .news {
    &__item {
      width: 27%;
    }

  }
}

@include media-breakpoint(phone) {
  .news {
    &__item {
      width: 47%;
    }
  }
}

@include media-breakpoint(phone-small) {
  .news {
    &__item {
      width: 100%;
    }
  }
}