.search {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;

  font-size: 14px;
  width: 38%;
  text-align: right;
  @extend %transition;

  &__input {
    padding: 6px 30px 6px 10px;
    width: 100%;
  }
  &__button {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -6px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    @include sprite;
    @extend .sprite-search;

  }
  &-trigger {
    display: none;

    @include sprite;
    @extend .sprite-search_mobile;
    right: 15%;
    content: '';
    position: absolute;
    top: 20px;
    cursor: pointer;

  }
}

@include media-breakpoint(tablet) {
  .search {
    width: 26%;

  }
}

@include media-breakpoint(phone) {
  .search {
    display: none;
    position: absolute;
    top: 61px;
    width: 100%;
    left: 0;
    padding: 20px;
    background-color: $blue_dark;

    &-trigger {
      display: block;
    }
    &__button {
      right: 30px;

    }

  }
}

@include retina-displays{
  .search {
    &__button {
      @include sprite__2x;

    }
    &-trigger {
      @include sprite__2x;
    }
  }
}