.social {

  &__item {
    margin: 0 15% 20px 0;
    @include after;
    @include sprite;

    &--tw {
      @extend .sprite-Twitter;

      &:hover {
        @extend .sprite-Twitter_Color;
      }
    }
    &--pn {
      @extend .sprite-Pinterest;

      &:hover {
        @extend .sprite-Pinterest_Color;
      }
    }
    &--yt {
      @extend .sprite-YouTube;

      &:hover {
        @extend .sprite-YouTube_Color;
      }
    }
    &--fb {
      @extend .sprite-Facebook;

      &:hover {
        @extend .sprite-Facebook_Color;
      }
    }
    &--gg {
      @extend .sprite-Google-_;

      &:hover {
        @extend .sprite-Google-__Color;
      }
    }
    &--in {
      @extend .sprite-Instagram;

      &:hover {
        @extend .sprite-Instagram_Color;
      }
    }
  }
}

@include media-breakpoint(phone) {
  .social {
    &__item {
      margin-right: 5px;

    }
  }
}

@include retina-displays{

  .social {
    &__item {
      @include sprite__2x;
    }
  }
}
