@mixin sprite {
  background-image: url(../sprites/spritesheet.png);
  background-repeat: no-repeat;
}
@mixin sprite__2x {
  background-image: url(../sprites/spritesheet-retina.png);
  background-repeat: no-repeat;
  background-size: 171px, 138px;
}

.sprite-Facebook {
  width: 36px;
  height: 36px;
  background-position: 0 0;
}

.sprite-Facebook_Color {
  width: 36px;
  height: 36px;
  background-position: -36px 0;
}

.sprite-Google-_ {
  width: 36px;
  height: 36px;
  background-position: -72px 0;
}

.sprite-Google-__Color {
  width: 36px;
  height: 36px;
  background-position: 0 -36px;
}

.sprite-Instagram {
  width: 36px;
  height: 36px;
  background-position: -36px -36px;
}

.sprite-Instagram_Color {
  width: 36px;
  height: 36px;
  background-position: -72px -36px;
}

.sprite-Logo_mobile {
  width: 18px;
  height: 23px;
  background-position: -108px 0;
}

.sprite-Pinterest {
  width: 36px;
  height: 36px;
  background-position: 0 -72px;
}

.sprite-Pinterest_Color {
  width: 36px;
  height: 36px;
  background-position: -36px -72px;
}

.sprite-Twitter {
  width: 36px;
  height: 36px;
  background-position: -72px -72px;
}

.sprite-Twitter_Color {
  width: 36px;
  height: 36px;
  background-position: -126px 0;
}

.sprite-YouTube {
  width: 36px;
  height: 36px;
  background-position: -108px -36px;
}

.sprite-YouTube_Color {
  width: 36px;
  height: 36px;
  background-position: -108px -72px;
}

.sprite-burger_menu {
  width: 19px;
  height: 19px;
  background-position: -144px -36px;
}

.sprite-close {
  width: 16px;
  height: 17px;
  background-position: -144px -55px;
}

.sprite-location_contacts {
  width: 14px;
  height: 14px;
  background-position: -144px -72px;
}

.sprite-logo {
  width: 25px;
  height: 32px;
  background-position: -144px -86px;
}

.sprite-search {
  width: 11px;
  height: 12px;
  background-position: -160px -55px;
}

.sprite-search_mobile {
  width: 20px;
  height: 20px;
  background-position: 0 -118px;
}
