html,
body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  position: relative;
  color: $grey_regular;

  font-size: $font-size;
  font-family: $font-default;

  background-size: cover;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ul {
  list-style: none;
}
::selection {

}
a {
  color: $blue_light;
  text-decoration: none;
}

@include media-breakpoint(phone) {
  body {
    min-height: 100%;
    height: auto;
  }
}