//
//  Mixins
//
@mixin media-breakpoint($type) {
    $breakpoints: (
        'desctop': '(min-width: 1200px)',
        'tablet': '(min-width: 620px) and (max-width: 1199px)',
        'phone': '(max-width: 619px)',
        'phone-small': '(max-width: 495px)'
    );

    @media #{map-get($breakpoints, $type)} {
        @content;
    }
}
@mixin retina-displays() {
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
        @content;
    }

}




@mixin after() {
    content: '';
    vertical-align: middle;
    display: inline-block;
}

@mixin clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

@each $font-face in HelveticaNeueLight {
    @font-face {
        font-family: $font-face; font-style: normal; font-weight: normal;
        src: url('../fonts/#{$font-face}.woff') format('woff'),
        url('../fonts/#{$font-face}.ttf')  format('truetype');
    }
}
@function z($layer){
    $layers: (
            'base': 1,
            'fixed': 30,
            'dropdown': 60,
            'popup': 90,
            'hidden': -1
    );

    $z-index: map-get($layers, $layer);
    @return $z-index;
}
%transition {
    transition: all 250ms linear;
}


