$font-size: 14px;
$font-size-small: 11px;

$font-default: HelveticaNeueLight, sans-serif;

$site-width: 1280px;
$site-width-laptop: 1366px;
$site-width-laptop__medium: 1224px;

$site-width_medium: 1024px;
$site-min-width: 712px;

// Color palette

// Grey
$grey_light: #b4b4b4;
$grey_regular: #989898;
$grey_dark: #444444;
$grey-text: #545454;

//Blue
$blue_light: #72a8d8;
$blue_regular: #3999cd;
$blue_dark: #2586ba;

//White
$white_regular: #ffffff;

